/* Картки продуктів */
.price {
    font-weight: bold;
    margin: 10px 0;
}

/* Сповіщення додавання до корзини */
.cart-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #6a4fb0;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: none;
    z-index: 10000;
}

/* Кнопки + і - для кількості */
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 0;
}
.quantity-display {
    font-weight: bold;
}
